.contacts {
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__sublist {
    margin-top: 10px;
    display: flex;
    gap: 5px;

    &-item {
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      border-radius: 10px;
      padding: 10px;
    }
  }

  &__accordion {
    width: 100%;

    &-head {
      display: flex;
      justify-content: space-between;

    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    gap: 10px;
    margin-top: 50px;

    &-item {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      min-width: 300px;
      padding: 10px;
      background-color: pink;
      border-radius: 10px;
    }
  }
}
