.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding-top: 20px;


  &__title {
    font-size: 44px;
  }

  &__link {
    margin-inline: auto;
    text-decoration: none;
    color: inherit;


    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}